.item {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 32px;
}

.dragHandle {
  position: absolute;
  left: 0;
  cursor: grab;
}

.dragHandle:active {
  cursor: grabbing;
}
