.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 640px) {
  .container {
    margin: 0 8px;
  }
}

.header {
  margin: 40px 0 20px 0;
  text-align: left;
}

@media (max-width: 640px) {
  .header {
    font-size: 28px;
    line-height: 32px;
  }
}

.feedWrapper {
  display: flex;
  gap: 60px;
}

@media (max-width: 1280px) {
  .feedWrapper {
    flex-direction: column;
  }
}

.feedContainer {
  width: 600px;
}

@media (max-width: 640px) {
  .feedContainer {
    width: 304px;
  }
}

.feedInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 580px;
}

@media (max-width: 640px) {
  .feedInfoContainer {
    width: 304px;
  }
}

.feedList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-right: 16px;
}

.feedLink {
  color: var(--fg-color-primary);
}

.feedItem {
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-height: 214px;
  border-radius: 40px;
  padding: 24px;
  background-color: var(--bg-color-primary);
}

.feedItemNumberBlock {
  display: flex;
  justify-content: space-between;
}

.feedItemNumber {
  font-size: 28px;
  line-height: 24px;
}

.feedItemTime {
  font-size: 16px;
  line-height: 24px;
  color: var(--fg-color-secondary);
}

.feedItemIngredientsBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.feedItemIngredientImgWrapper {
  position: relative;
  display: inline-block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--bg-color-dark-100);
}

.feedItemIngredientImgWrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 3px;
  border-radius: 50%;
  background: linear-gradient(90deg, #801ab2 0%, #4c4cff 100%);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.feedItemIngredientImg {
  width: 64px;
  height: 64px;
  object-fit: contain;
  transform: scale(1.5);
}

.feedItemPriceBlock {
  display: flex;
  gap: 8px;
}

.feedItemPrice {
  font-size: 28px;
  line-height: 24px;
}

.feedOrdersBlock {
  display: flex;
  gap: 36px;
}

@media (max-width: 640px) {
  .feedOrdersBlock {
    gap: 24px;
  }
}

.feedOrdersReady,
.feedOrdersInProgress {
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-width: 272px;
}

@media (max-width: 640px) {
  .feedOrdersReady,
  .feedOrdersInProgress {
    min-width: 140px;
  }
}

.feedOrdersReadyList,
.feedOrdersInProgressList {
  display: flex;
  flex-direction: column;
}

.feedOrdersReadyItem,
.feedOrdersInProgressItem {
  font-size: 28px;
  line-height: 24px;
}

.feedOrdersReadyItem {
  color: var(--fg-color-success);
}

.feedTotalCount,
.feedTodayCount {
  font-size: 144px;
  line-height: 120px;
  filter: drop-shadow(0 0 16px rgba(51, 51, 255, 0.25))
    drop-shadow(0 0 8px rgba(51, 51, 255, 0.25))
    drop-shadow(0 0 4px rgba(51, 51, 255, 0.5));
}

@media (max-width: 640px) {
  .feedTotalCount,
  .feedTodayCount {
    font-size: 72px;
    line-height: 80px;
  }
}

@media (max-width: 640px) {
  .feedOrdersReadyTitle,
  .feedOrdersInProgressTitle,
  .feedTotalTitle,
  .feedTodayTitle {
    font-size: 20px;
    line-height: 24px;
  }
}
