.loaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 89px);
}

.wrapper {
  height: calc(100vh - 89px);
}

.container {
  display: flex;
  width: 860px;
  margin-top: 120px;
}

.tabs {
  width: 320px;
  margin-right: 60px;
}

.profileForm {
  width: 480px;
}

.tabsItem {
  font-size: 24px;
  line-height: 30px;
  padding: 17px 0;
}

.tabsLink {
  color: var(--fg-color-secondary);

  &.active {
    color: var(--fg-color-primary);
  }
}

.tabsDesc {
  display: inline-block;
  margin-top: 80px;
  font-size: 16px;
  line-height: 24px;
  color: var(--fg-color-secondary);
  opacity: 0.4;
}

.profileFormField:not(:last-child) {
  margin-bottom: 24px;
}

.buttonsBlock {
  display: flex;
  justify-content: end;
  gap: 8px;
}
