.ingredientsContainer {
  min-width: 600px;
  max-height: calc(100vh - 88px);
  display: flex;
  flex-direction: column;
}

.tabsList {
  display: flex;
}

.tabContainer {
  flex: 1;
  overflow: auto;
}

.title {
  margin: 40px 0 20px 0;
}

.productTypeList {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.productTypeItem {
  width: 272px;
  height: 208px;
}
