.loaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 720px;
  max-width: 90%;
  min-height: 600px;
  max-height: 90vh;
}

.orderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.orderId {
  font-size: 144px;
  line-height: 120px;
  margin-bottom: 32px;
}

@media (max-width: 640px) {
  .orderId {
    font-size: 72px;
    line-height: 80px;
  }
}

.orderIdText {
  font-size: 24px;
  line-height: 30px;
}

@media (max-width: 640px) {
  .orderIdText {
    font-size: 20px;
    line-height: 24px;
  }
}

.orderAccepted {
  width: 120px;
  height: 120px;
  margin: 60px 0;
}

.orderInProcessTitle {
  margin-bottom: 8px;
}

.orderInProcessText {
  color: var(--fg-color-secondary);
  margin-bottom: 80px;
  text-align: center;
}

@media (max-width: 640px) {
  .orderInProcessTitle,
  .orderInProcessText {
    font-size: 14px;
    line-height: 20px;
  }
}
