.productTypeList {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 32px;
  margin-left: 16px;
}

.productTypeTitle {
  margin: 40px 0 24px 0;
}

.productTypeItem {
  position: relative;
  width: 272px;
  height: 208px;
}

.itemImg {
  width: 100%;
  height: 120px;
}

.itemPrice {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 28px;
  line-height: 24px;
}

.itemName {
  display: flex;
  justify-content: center;
}

.itemCounter {
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #4c4cff;
  display: flex;
  justify-content: center;
  align-items: center;
}
