.constructorContainer {
  min-width: 600px;
  margin-top: 100px;
}

@media (max-width: 1280px) {
  .constructorContainer {
    margin-top: 0;
    margin-bottom: 40px;
  }
}

.constructorInnerContainer {
  max-width: 584px;
  margin: 0 auto;
}

.constructorList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 40px;
}

.constructorListTemplate {
  min-height: 464px;
  text-align: center;
}

.constructorItem {
  margin-left: 32px;
}

.constructorListScrollable {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 384px;
}

.totalBlock {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}

@media (max-width: 640px) {
  .totalBlock {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--bg-color-primary);
    padding: 16px 8px;
    width: calc(100% - 16px);
  }
}

.totalText {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 48px;
  line-height: 36px;
}

@media (max-width: 640px) {
  .totalText {
    font-size: 22px;
    line-height: 24px;
  }
}

.totalIconWrapper {
  scale: 1.4;
}

@media (max-width: 640px) {
  .totalIconWrapper {
    scale: 1;
    height: 24px;
  }
}
