.container {
  display: flex;
  flex-direction: column;
  width: 844px;
}

.orderHistoryTitle {
  display: none;
}

@media (max-width: 1280px) {
  .orderHistoryTitle {
    display: block;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    margin: 16px 0;
  }
}

.orderHistoryLink {
  color: var(--fg-color-primary);
}

.orderHistoryList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-right: 16px;
}

.orderHistoryItem {
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-height: 246px;
  padding: 24px;
  border-radius: 40px;
  background-color: var(--bg-color-primary);
}

.orderHistoryNumberBlock {
  display: flex;
  justify-content: space-between;
}

.orderHistoryNumber {
  font-size: 28px;
  line-height: 24px;
}

.orderHistoryTime {
  font-size: 16px;
  line-height: 24px;
  color: var(--fg-color-secondary);
}

.orderHistoryNameBlock {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.orderHistoryStatus {
  &.orderHistoryStatusSuccess {
    color: var(--fg-color-success);
  }
}

.orderHistoryItemsBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.orderHistoryItemImgWrapper {
  position: relative;
  display: inline-block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--bg-color-dark-100);
}

.orderHistoryItemImgWrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 3px;
  border-radius: 50%;
  background: linear-gradient(90deg, #801ab2 0%, #4c4cff 100%);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.orderHistoryItemImg {
  width: 64px;
  height: 64px;
  object-fit: contain;
  transform: scale(1.5);
}

.orderHistoryItemOverlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
  background-color: var(--bg-color-blur);
  border-radius: 50%;
}

.orderHistoryPriceBlock {
  display: flex;
  gap: 8px;
}

.orderHistoryPrice {
  font-size: 28px;
  line-height: 24px;
}
