.wrapper {
  height: calc(100vh - 89px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  color: var(--fg-color-primary);
  margin-bottom: 24px;
}

.signupForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 24px;
}

.loginLabel {
  margin-bottom: 24px;
}

.emailLabel {
  margin-bottom: 24px;
}

.signupBtn {
  margin-bottom: 80px;
}

.signinLink {
  color: var(--fg-color-blue);
}
