.productTypeItem {
  position: relative;
  width: 272px;
  min-height: 208px;
  cursor: pointer;
}

@media (max-width: 640px) {
  .productTypeItem {
    width: calc(50% - 8px);
    min-height: 172px;
  }
}
