.item {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 32px;
}

@media (max-width: 640px) {
  .item {
    padding-left: 24px;
    margin-right: 16px;
  }
}

.dragHandle {
  position: absolute;
  left: 0;
  cursor: grab;
}

.dragHandle:active {
  cursor: grabbing;
}
