.container {
  display: flex;
  flex-direction: column;
  width: 640px;
  margin-top: 120px;
}

.modalContainer {
  display: flex;
  flex-direction: column;
  width: 640px;
  margin: 0 auto;
}

@media (max-width: 640px) {
  .container {
    width: 320px;
  }
}

.orderNumber {
  margin-bottom: 40px;
  text-align: center;
  font-size: 28px;
  line-height: 24px;
}

.orderName {
  margin-bottom: 12px;
}

.orderStatus {
  margin-bottom: 60px;

  &.orderStatusSuccess {
    color: var(--fg-color-success);
  }
}

.orderListTitle {
  margin-bottom: 24px;
}

.orderList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.orderItem {
  min-height: 64px;
  margin-right: 32px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.orderItemImgWrapper {
  position: relative;
  display: inline-block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--bg-color-dark-100);

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 3px;
    border-radius: 50%;
    background: linear-gradient(90deg, #801ab2 0%, #4c4cff 100%);
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
  }
}

.orderItemImg {
  width: 64px;
  height: 64px;
  object-fit: contain;
  transform: scale(1.5);
}

.orderItemName {
  flex: 1;
}

.orderItemPriceBlock {
  display: flex;
  gap: 8px;
}

.orderItemPrice {
  font-size: 28px;
  line-height: 24px;
}

.orderInfo {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
}

.orderPriceBlock {
  display: flex;
  gap: 8px;
}

.orderTime {
  font-size: 16px;
  line-height: 24px;
  color: var(--fg-color-secondary);
}

.orderPrice {
  font-size: 28px;
  line-height: 24px;
}
