.wrapper {
  height: calc(100vh - 89px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  color: var(--fg-color-primary);
  margin-bottom: 24px;
}

.resetForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.newPassLabel {
  margin-bottom: 24px;
}

.codeLabel {
  margin-bottom: 24px;
}

.saveBtn {
  display: flex;
  align-self: center;
  width: 167px;
  margin-bottom: 80px;
}

.signinLink {
  color: var(--fg-color-blue) !important;
  font-size: 16px !important;
  line-height: 24px !important;
  padding: 0 !important;
  margin-left: 8px !important;
}
