.headerWrapper {
  background-color: #1c1c21;
}

.headerContainer {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 16px 0;
}

.leftTabs {
  display: flex;
  flex: 1;
  gap: 8px;
}

.rightTabs {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.tab {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px 20px;
}

.tabTitle {
  color: #8585ad;
}

.tabTitleActive {
  color: #f2f2f3;
}
