.detailsImgWrapper {
  display: flex;
  justify-content: center;
  padding: 60px 120px;
}

.detailsTitle {
  margin: 16px 0 32px 0;
  text-align: center;
}

.detailsInfoBlock {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.detailsInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.detailsInfoText {
  color: var(--fg-color-secondary);
}

.detailsInfoValue {
  font-size: 28px;
  line-height: 24px;
  color: var(--fg-color-secondary);
}
