.detailsImgWrapper {
  display: flex;
  justify-content: center;
}

.detailsTitle {
  margin: 16px 0 32px 0;
  text-align: center;
}

@media (max-width: 640px) {
  .detailsTitle {
    font-size: 20px;
    line-height: 24px;
  }
}

.detailsInfoBlock {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

@media (max-width: 640px) {
  .detailsInfoBlock {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
}

.detailsInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.detailsInfoText {
  color: var(--fg-color-secondary);
}

@media (max-width: 640px) {
  .detailsInfoText {
    font-size: 14px;
    line-height: 20px;
  }
}

.detailsInfoValue {
  font-size: 28px;
  line-height: 24px;
  color: var(--fg-color-secondary);
}

@media (max-width: 640px) {
  .detailsInfoValue {
    font-size: 22px;
    line-height: 24px;
  }
}
