.constructorContainer {
  min-width: 600px;
  margin-top: 100px;
}

@media (max-width: 1240px) {
  .constructorContainer {
    margin-bottom: 40px;
  }
}

.constructorInnerContainer {
  max-width: 584px;
  margin: 0 auto;
}

.constructorList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 40px;
}

.constructorItem {
  margin-left: 32px;
}

.constructorListScrollable {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 384px;
}

.totalBlock {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}

.totalText {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 48px;
  line-height: 36px;
}
