.wrapper {
  height: calc(100vh - 89px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  color: var(--fg-color-primary);
  margin-bottom: 24px;
}

.signinForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 24px;
}

.emailLabel {
  margin-bottom: 24px;
}

.signinBtn {
  margin-bottom: 80px;
}

.signupText {
  margin-bottom: 16px;
}

.signupLink {
  color: var(--fg-color-blue);
}

.resetPassLink {
  color: var(--fg-color-blue);
}
