.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-content {
  display: flex;
  gap: 40px;
  max-width: 1240px;
  margin: 0 auto;
}

@media (max-width: 1280px) {
  .page-content {
    flex-direction: column;
  }
}

.no-scroll {
  overflow: hidden;
}

.iceland-regular {
  font-family: "Iceland", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.jetbrains-mono-regular {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.rc-scrollbars-track-v {
  background-color: var(--bg-color-dark) !important;
  border-radius: 0 !important;
  width: 8px !important;
}

.rc-scrollbars-thumb-v {
  background-color: var(--bg-color-secondary) !important;
  border-radius: 0 !important;
}
