@import "normalize.css";

:root {
  --fg-color-primary: #f2f2f3;
  --fg-color-secondary: #8585ad;

  --bg-color-primary: #1c1c21;
  --bg-color-secondary: #8585ad;
  --bg-color-white: #f2f2f3;
  --bg-color-blue: #4c4cff;
  --bg-color-dark: #2f2f37;
}

body {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h1 {
  font-size: 36px;
  line-height: 40px;
}

h2 {
  font-size: 24px;
  line-height: 30px;
}

a {
  text-decoration: none;
}
