.modalWrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color-primary);
  border-radius: 16px;
  padding: 40px;
  max-width: 90%;
  max-height: 90vh;
  width: 720px;
  animation: slideUp 0.3s ease-out;
}

@media (max-width: 1280px) {
  .modalWrapper {
    width: 480px;
  }
}

@media (max-width: 640px) {
  .modalWrapper {
    width: 320px;
  }
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}

.title {
  font-size: 36px;
  line-height: 40px;
}

.closeIcon {
  display: flex;
  width: 24px;
  height: 24px;
  margin-left: auto;
  cursor: pointer;
}
